.projects-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
 text-align: center;
}

.project img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.project img:hover {
    transform: scale(1.2);
    transition-duration: 0.4s;
    cursor: pointer;
}